/***** Resets the styling *******/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***** HEADER *******/

header {
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
    padding: 1.5rem 0;
    background-image: linear-gradient(to right, #2b2d42, #8d99ae ); 
    position: sticky;
    top: 0;
    box-shadow: 0px 3px 10px;
    border-radius: 0px  0px  25px 25px ;
    
}


.logo {
    height: 4rem;
    width: 20rem;
    margin-left: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.nav-ul {
    display: flex;
    flex-grow: 0;
    margin-right: 50px;
}

.nav-ul li {
    list-style: none;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;    
}


.topa:hover {
  color: #d11212;
  transition-duration: 1.5s;
}

.nav-ul a {
    text-decoration: none;
    color: white ;

}



.header-input {
   text-align: center;
   border-radius: 10px;
   font-family: 'Roboto', sans-serif; 
   margin: 0;
   padding: 0;
}

#searchbutton {
  text-align: center;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  
}




/***** Main *******/

body {
  background-color: #7d8696;
}

.main-columns {
   display: flex;
   flex-direction: row;    
  
}


.column-left {  
  padding: 1.5rem 0;
  width: 50%;
  height: 100vh;
  background-color: #7d8696;
  text-align: center;

    
}

.flex-outer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  margin-left: 15px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80vh;
  margin-top: 20px;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: black;
  
}

.calcBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  width: 350px;
  text-align: center;
  border-radius: 8px;
  
}

#finalCalculate {
  display: block;
  width: 100%;
  border: none;
  font-family: 'Roboto', sans-serif;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
}

.column-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  width: 50%;
  height: 100vh;
  background-color: #7d8696;
  text-align: center;
  
}

.right-rows {
  display: flex;
  padding: 1.5rem 0;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 25rem;
  box-shadow: 5px 5px 10px 3px ;
  border-radius: 25% 10%;
  margin-top: 20px;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: black;
  
}

a {
text-decoration: none;
text-shadow: 1px 1px 2px #2b2d42;
}

label {
  color: white;
  text-shadow: 2px 1px 2px #2b2d42;
}

#result {
  color:green;
  text-shadow: 1px 1px 1px;  
}


/****HOVER CODE*****/

.ra:hover {
  color: white;
  webkit-animation-name: rotate; 
  -webkit-animation-duration: 2s; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate; 
  -moz-animation-duration: 5s; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

}

@-webkit-keyframes rotate {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}


.topitem {
  background-image: url('/img/books.jpg');
  background-size: cover;
  
}

.middleitem {
  background-image: url('/img/youtube3.jpg');
  background-size: 100% 100%
 
  
}

.bottomitem {
  background-image: url('/img/websites.jpg');
  background-size: 100% 100%;
  
}



h2 {
    font-size: 2rem;    
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 3px #2b2d42;
}



/***** FOOTER *******/


footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1.5rem 0;
    background-image: linear-gradient(to right, #2b2d42, #8d99ae ); 
    /*position: sticky;*/
    bottom: 0;    
  }

.footer-note {
    display: flex;
    align-items: center;
    font-size: 1rem !important;  
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

 .fa-instagram {
    background: #125688;
    color: white;
}

 .fa-linkedin {
    background: #007bb5;
    color: white;
}
  
.fa-youtube {
    background: #bb0000;
    color: white;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    box-shadow: 0px 0px 10px ;
}


/***** Media Query for Larger than Tablets *******/
@media screen and (max-width: 1066px) {
  .header-input, .searchbutton {
    display: none;
  }

  .calcBox {
    width: 275px;      
   }

   h2 {
    text-align: center;
  }

}

/***** Media Query for Tablets *******/
  @media screen and (max-width: 800px) {
    ul.nav-ul {
      margin-right: 0;
      margin-left: 55px;
      margin-top: 15px;
      justify-content: center;      
    }

    /*a.topa {
      color: black;    
    }*/


    h2 {
      text-align: center;
    }
 
    img.logo {
      margin: 0;
    }

    /*footer {
        display: none;
    } */

    .header-input, .searchbutton {
      display: none;
    }
    
    nav {
      display: grid;
      grid-template-columns: 100%;
    }

    .footer-container {
      width: 95%;

    }


    div.column-left {
      width: 50%;
    }
    
    div.column-right {
      width: 50%;  
    }    

    .calcBox {
     width: fit-content;
     display: flex;
          
    }

    label {
      font-size: 15px;
    }
      
    .flex-outer {
      height: 70vh;
    }


  }

/***** Media Query for Cellphones *******/
  @media screen and (max-width: 481px) {
    a.topa {
      display: none;
    }
    
    
    .header-input {
      display: none;
    }
      
    
    .footer-container {
      width: 100%;

    }

    nav {
      scale: 75%;
      
      
    }

   
    div.main-columns {
      display: flex;      
      flex-direction: column;
    }

    div.column-left {
      order: 1;
      width: auto;
      height: fit-content;      
    }
       
    div.column-right {
      width: auto;
      order: 2;  
    }

    img.logo {
      scale: 85%;
    }

    h2 {
      font-size: 1.5rem;
      padding-left: 24px;
      padding-right: 24px;
    }

    .calcBox {
      width: 200px;
      display: flex
    
    }

    .flex-outer {
      margin: 0;
    }
   
  }