/***** HEADER SECTION *******/
header {
    width: 100%;
    height: 5.5rem;
    padding: 1.5rem 0;
    background-color: white ;
    position: relative;
    margin-top: 0%;


}

.logo {
    height: 100%;
    width: 10%;
    margin-right: 5px;
    margin-left: 100px;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;

}


.nav-ul {
    display: flex;
    flex-grow: 0;
    margin-right: 50px;
}

.nav-ul li {
    list-style: none;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;

}
